extends layout

block content
  div(id="editor", class="span12")
    div(class="row")
      div(class="span7")
        textarea(class="span7", id='dot', rows='20')
          |digraph noname {
          |    node[shape=box]
          |    graph[nodesep=2, ranksep=2]
          |    graphviz_viewer [label="Graphviz-Viewer"]
          |    you[label="You", shape=circle]
          |    graphviz_viewer -> you[label="welcome"]
          |    {rank=same; graphviz_viewer; you}
          |}
      div(class="span5")
        pre(id="msg", class="alert alert-block")
  div(id="render", class="span12")
    img(id='graph')
