body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editor{
  text-align: center;
}

textarea{
    height: 20em;
}

#render{
  text-align: center;
}

#msg{
  display: none;
}
